body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161b24;
}

section {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 2em;
    padding: 2em;
}

@media (max-width: 640px) {
    section {
        grid-template-columns: 1fr;
    }
}

article {
    text-align: center;
    height: 90vh;
}

.class1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    box-sizing: border-box;
    background:
        linear-gradient(#1fa2ff, transparent),
        linear-gradient(to top left, #f12711, #f5af19),
        linear-gradient(to top right, #a5ffcb, transparent);
    background-blend-mode: screen;
    border-radius:1%;
    font-size: 1rem;
    font-weight: bold;
}

.class1:hover {
    color: #fff;
    overflow: auto;
    animation: mid-gradient 2.5s infinite;
    background-size: 200% 100%;
}

@keyframes mid-gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


.class2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    box-sizing: border-box;
    background:
        linear-gradient(#1fa2ff, transparent),
        linear-gradient(to top left, #c33764, #1d2671),
        linear-gradient(to top right, #1d1f1e, transparent);
    background-blend-mode: screen;
    border-radius:1%;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    transition: opacity 5s;
}

.class2:hover {
    opacity: 0;
    transition: opacity 1.5s;
    transition-delay: 1s;
}

.class2:hover p {
    opacity: 0;
    transition: opacity 1.5s;
}


.class3 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    background:
        linear-gradient(to top left, #f12711, #f5af19),
        linear-gradient(to top right, #a5ffcb, transparent);
    background-blend-mode: screen;
    border-radius:25%;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.class3 p {
    transform: translateY(none);
    transition: transform 1.5s ease;
}

.class3:hover {
    animation: breathe 2.5s infinite;
    font-weight: 100;
}

.class3:hover p {
    transform: translateY(55vh);
    transition: transform 2s ease;
}

@keyframes breathe {
    0% {
        border-radius: 25%;
    }
    50% {
        border-radius: 1%;
    }
    100% {
        border-radius: 25%;
    }
}


.class4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-image: url(https://mfiles.alphacoders.com/100/1008760.png);
    background-size: cover;
    font-size: 1rem;
    font-weight: bolder;
    color: #fff;
    border-radius: 0%;
    filter: grayscale(none);
    transition: border-radius 1.5s ease, filter 1.5s ease;
}

.class4:hover {
    filter: grayscale(100);
    border-radius: 35% 15%;
    transition: filter 5s ease, border-radius 5s ease-out;
}


.class5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
    box-sizing: border-box;
    background:
        linear-gradient(to top left, #c33764, #1d2671),
        linear-gradient(to top right, #1d1f1e, transparent);
    background-blend-mode: screen;
    border-radius: 3%;
    font-size: 1rem;
    font-weight: bold;
}

.class5:hover {
    overflow: auto;
    animation: mid-gradient 5s infinite;
    background-size: 200% 100%;
    filter: contrast(15);
    filter: saturate(4);
}

.class5:hover p:nth-child(1) {
    color: #fff;
}
.class5:hover p:nth-child(2) {
    color: #fff;
    transition: color;
    transition-delay: 0.5s;
}
.class5:hover p:nth-child(3) {
    color: #fff;
    transition: color;
    transition-delay: 1s;
}
.class5:hover p:nth-child(4) {
    color: #fff;
    transition: color;
    transition-delay: 1.5s;
}
.class5:hover p:nth-child(5) {
    color: #fff;
    transition: color;
    transition-delay: 2s;
}


.class6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    box-sizing: border-box;
    border: solid 0.5rem #fff;
    border-radius: 40%;
    box-shadow: none;
    transition: border-radius 1.5s ease, box-shadow 4s ease;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #161b24;
}

.class6:hover {
    box-shadow: 0 0 1rem 1rem #fff;
    border-radius: 1%;
    transition: border-radius 2.5s 1.5s;
}

.class6:hover p:nth-child(1) {
    color: #fff;
    transition: color 1.5s;
}

.class6:hover p:nth-child(2) {
    color: #fff;
    transition: color 1.5s;
    transition-delay: 0.5s;
    font-size: 1.5rem;
}

.class6:hover p:nth-child(3) {
    color: #fff;
    transition: color 1.5s;
    transition-delay: 1s;
    font-size: 2rem;
}


.flip-card {
    background-color: transparent;
    perspective: 1000px;
    padding: 0.2em;
}

.flip-card-inner {
    border-radius: 12.5%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12.5%;
  }

  .flip-card-front {
    background-image: url(https://wallpaper.forfun.com/fetch/e0/e0969d284a6e520bcd659dd968fa28f8.jpeg);
    background-size: cover;
  }

  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    box-sizing: border-box;
    background-image: url(https://i.pinimg.com/736x/eb/7b/10/eb7b10a9252c3d5efe912b6112654508.jpg);
    background-size: cover;
    color: #fff;
    transform: rotateY(180deg);
    font-weight: bolder;
    font-size: 1rem;
  }


.class8 {
    padding: 5px;
    border: solid 2px green;
    font-size: 1rem;
    background-size: 200% 100%;
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    /* background-clip: text; */
}

/* .class8:hover {
    opacity: 0;
    transition: opacity 2.5s;
    transition-delay: 1s;
} */

footer {
     /* padding: ;
    background-color: ;
    border: ; */
}

